// Bootstrap variables (overrides).

// override default bootstrap colors for accessibility
//$white: #fff !default;
//$black: #000 !default;
//$gray-700: #495057 !default;

$blue: #A872A8 !default;
$pink: #212529 !default;
$dark: #F5C0F5 !default;

//$cyan: #006170 !default;
//$pink: #e21181 !default;
//$green: #008a00 !default;

//$breadcrumb-divider-color: $gray-700 !default;
//$breadcrumb-active-color: $gray-700 !default;

//$navbar-light-color: rgba($black, .6) !default;
//$navbar-dark-color: rgba($white, .6) !default;

$navbar-dark-color:                 rgba($pink, .55) !default;
$navbar-dark-hover-color:           rgba($pink, .75) !default;
$navbar-dark-active-color:          $pink !default;
$navbar-dark-disabled-color:        rgba($pink, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($pink, .1) !default;
$navbar-dark-brand-color:           $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:     $navbar-dark-active-color !default;


$form-text-margin-top: 0 !default;
$legend-font-size: 1rem !default;
$table-cell-padding-x: .75rem !default;

