main {
    background-color: $main-color;

    > .container {
        background-color: $container-color;
    }
}

.views-view-grid .views-col {
    padding: 10px;

    > article {
        padding: 10px;
        min-height: 400px;
        border: 4px solid $border-color;
        border-radius: 10px;
        box-shadow: 10px 15px 19px -2px rgba($blue,1);
        -webkit-box-shadow: 10px 15px 19px -2px rgba($blue,1);
        -moz-box-shadow: 10px 15px 19px -2px rgba($blue,1);
    }
}